<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- CSS files -->
    <link href="/stylesheets/css/tabler.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/demo.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/customize.css" rel="stylesheet" />
  </head>
  <body>
    <!-- admin nav start  -->
    <div class="mb-2">
      <header class="navbar navbar-expand-md navbar-dark d-print-none">
        <div class="container-xl">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-menu"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1
            class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
          >
            <a href="/admin"> Easy Vote </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <a
              href="?theme=dark"
              class="nav-link px-0 hide-theme-dark"
              title="Enable dark mode"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
            >
              <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
                />
              </svg>
            </a>
            <a
              href="?theme=light"
              class="nav-link px-0 hide-theme-light"
              title="Enable light mode"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
            >
              <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="4" />
                <path
                  d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                />
              </svg>
            </a>
            <div class="nav-item dropdown d-none d-md-flex me-3"></div>
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link d-flex lh-1 text-reset p-0"
                data-bs-toggle="dropdown"
                aria-label="Open user menu"
              >
                <span
                  class="avatar avatar-sm"
                  style="background-image: url(../images/svg/admin-profile.svg)"
                ></span>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <span>
                  <img
                  style="margin-left: 10px;"
                    src="../images/svg/admin-user-name.svg"
                    alt="Name"
                    width="20px"
                  />
                  <%= admin.name %>
                </span><br>
                <span>
                  <img
                    style="margin-left: 10px;"
                    src="../images/svg/admin-user-mail.svg"
                    alt="Mail"
                    width="20px"
                  />
                 <%= admin.email %>
                </span>
                <div class="dropdown-divider"></div>
                <a href="/admin/change-password" class="dropdown-item">Change Password</a>
                <a href="/admin/logout" class="dropdown-item">Logout</a>
              </div>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <div
              class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center"
            >
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/admin">
                    <span class="nav-link-title"> Dashboard </span>
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/admin/campaign-list">
                    <span class="nav-link-title"> Campaign List </span>
                  </a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/admin/king-queen">
                    <span class="nav-link-title">King & Queen selection</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/project">
                    <span class="nav-link-title">Project Competition</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/other">
                    <span class="nav-link-title">Other</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/create">
                    <span class="nav-link-title">Create</span>
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- admi nav end  -->
    <!-- body start  -->
    <div class="wrapper">
      <div class="page-wrapper">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">Overview</div>
                <h2 class="page-title">Dashboard</h2>
              </div>
              <!-- Page title actions -->



            </div>
          </div>
        
      <!-- total user start  -->
      <div class="col-12 mt-2">
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body p-2 text-center">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="h1 m-0"><%= Tuser.length %></div>
                    <div class="text-muted mb-3">Total Verify Users</div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="h1 m-0"><%= Fuser.length %></div>
                    <div class="text-muted mb-3">Total Unverify Users</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card">
              <div class="card-body p-2 text-center">
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                      <div class="h1 m-0"><%= king.length %></div>
                      <div class="text-muted"> Total King & Queen </div>
                      <div class="text-muted">Campaigns</div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                      <div class="h1 m-0"><%= project.length %></div>
                      <div class="text-muted">Total Project Competition</div>
                      <div class="text-muted">Campaigns</div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                      <div class="h1 m-0"><%= other.length %></div>
                      <div class="text-muted">Total Other</div>
                      <div class="text-muted">Campaigns</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- total user end -->

     <!-- user list start  -->
     <div id="vote-list" class="card container-xl bg-azure-lt mt-2">
        <div class="card-header">
            <h3 class="card-title">User List</h3>
        </div>
        <div
            class="list-group list-group-flush overflow-auto"
            style="max-height: 35rem"
            >
            <div class="list-group-item" style="height: 400px">
              <% for(var i = 0; i < user.length; i++){ %>
                <div class="row">
                    <div class="col-auto mb-2">
                        <a href="#">
                        <span
                            class="avatar"
                            style="background-image: url(images/svg/profile.svg)"
                        ></span>
                        </a>
                    </div>
                    <div class="col-2 text-truncate">
                        <h3>Name</h3>
                        <h5 class="text-muted text-truncate mt-n1"><%= user[i].name %></h5>
                    </div>
                    <div class="col-3 text-truncate">
                        <h3>Create Date</h3>
                        <h5 class="text-muted text-truncate"><%= user[i].date %></h5>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-5">
                          <h3>Email</h3>
                          <h5 class="text-muted text-truncate"><%= user[i].email %></h5>
                        </div>
                        <div class="col-3">
                          <% if(user[i].verify === true) { %> 
                            <h3 class="text-success text-truncate">Verify</h3>
                          <% }else{ %> 
                            <h3 class="text-danger text-truncate">Unverify</h3>
                          <% } %>
                              
                        </div>
                        <div class="col-4">
                          <div class="row">
                            <div class="col-4">
                              <% if(user[i].disable == false){ %>
                                <button type="button" class="btn btn-success" onclick="changestatus('enable','<%= user[i].id %>')"> Enable </button>
                                <%}else{%>
                                <button type="button" class="btn btn-muted"  onclick="changestatus('disable','<%= user[i].id %>')"> Disable </button>
                                <% } %>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4">
                                <input class="btn btn-danger userDeleted" data-id="<%= user[i].id %>" value="Delete" style="width: 80px;" readonly>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <% } %>
            </div>
            </div>
          </div>
        </div>
        <!-- user list end  -->
      </div>
    <footer class="footer footer-transparent d-print-none">
      <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
          <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                <a href="/admin" class="link-secondary"
                  >Documentation</a
                >
              </li>
              <li class="list-inline-item">
                <a href="/admin" class="link-secondary">License</a>
              </li>
              <li class="list-inline-item">
                <a
                  href="/admin"
                  target="_blank"
                  class="link-secondary"
                  rel="noopener"
                  >Source code</a
                >
              </li>
              <li class="list-inline-item">
                <a
                  href="https://github.com/sponsors/codecalm"
                  target="_blank"
                  class="link-secondary"
                  rel="noopener"
                >
                  <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon text-pink icon-filled icon-inline"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
                    />
                  </svg>
                  Easy Vote
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                Copyright &copy; 2022
                <a href="." class="link-secondary">Easy Vote</a>. All rights
                reserved.
              </li>

            </ul>
          </div>
        </div>
      </div>
    </footer>
      </div>
    </div>
    <!-- body end  -->

    <script src="/javascripts/js/demo.min.js"></script>
    <script src="/javascripts/js/tabler.min.js"></script>
    <script src="/javascripts/js/customize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function changestatus(status, id){
        $.ajax("/admin/change-user-status",{
          type : 'POST',
          data : {status: status, id : id},
          success: function(result){
            if(result.status == 'error'){
              alert("Somethings Was Wrong!")
            }else{
              location.reload();
            }
          }
        })
      }
    </script>
    <script>
      $(".userDeleted").click(function(){
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.isConfirmed) {
              let id = $(this).data("id")
              $.ajax({
                url:"/admin/user-acc-delete",
                data:{id},
                type: 'POST'
              }).done(function(result){
                  if(result.status == "error"){
                  alert("somethings was wrong!")
                  }else{
                    location.reload();
                  }
                })
            }
          })
      })
      
    </script>
  </body>
</html>
